@model CrimeCity.Models.SearchEmployeeModel

@{
    ViewBag.Title = "Administrator Page";
}

<div>
    @Html.ActionLink("New", "Home", "UserProfile", new { id = 0 })
</div>

<section id="search">
    @using (Html.BeginForm("Admin", "Home"))
    {
        <div>
            <p>
                <label>First Name:</label>
                @Html.TextBoxFor(x => x.SearchCriteria.FirstName)
            </p>
            <p>
                <label>Last Name:</label>
                @Html.TextBoxFor(x => x.SearchCriteria.LastName)
            </p>
            <p>
                <label>Sex</label>
                @Html.EnumDropDownListFor(x => x.SearchCriteria.Sex, "Sex", htmlAttributes: new { @class = "form-control" })
            </p>
            <p>
                <label>Position</label>
                @Html.EnumDropDownListFor(x => x.SearchCriteria.Position, "Position", htmlAttributes: new { @class = "form-control" })
            </p>
        </div>
        <input type="submit" value="Search" />
    }
</section>

<section id="find">
    @if (Model.IsNotEmpty)
    {
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Sex</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CrimeCity.Models.Employees.Employee employee in Model.SearchResult)
                {
                    <tr>

                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Sex</td>
                        <td>@employee.Position</td>
                        <td>@Html.ActionLink("More", "Info", "Home", new { category = employee.ToString() }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</section>